/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Select parent .sales-calc-form when .sales-calc-input is empty and showing placeholder */
.sales-calc-form:has(.sales-calc-input:placeholder-shown) {
  opacity: var(--_sale-commission-calculator---inactive-state-opacity);
}
